target
project/boot
project/build/target
project/plugins/target
*/project/boot
*/target



# eclipse conf file
.settings
.classpath
.project
.manager
.externalToolBuilders


# IntelliJ
*.iml
*.ipr
*.iws
.idea
.idea_modules
.history
*.*___jb_old___
*.*___jb_bak___
.idea/libraries/
.idea/artifacts/

# Sublime
*.sublime-workspace
